// Copyright (c) 2024 Nordic Semiconductor ASA
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
#include <nordic/nrf52833_qdaa.dtsi>

/ {
	model = "nini_slimevr_uf2";
	compatible = "nini_slimevr_uf2";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
	};

	nrf_radio_fem: se2431_fem {
		compatible = "skyworks,se2431", "generic-fem-two-ctrl-pins";
		ctx-gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;  /* TXEN */
		ctx-settle-time-us = <23>;
		crx-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;  /* RXEN */
		crx-settle-time-us = <8>;
		tx-gain-db = <22>;
		rx-gain-db = <19>;
	};


	aliases {
		ant-set-gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
		csd-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
	};

	zephyr,user {
		led-gpios = <&gpio0 4 GPIO_OPEN_SOURCE>;
		ant-set-gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
		csd-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
	};
};

&reg1 {
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&gpio0 {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&nfct {
	status = "disabled";
};

&radio {
	fem = <&nrf_radio_fem>;
};
