# Copyright (c) 2026
# SPDX-License-Identifier: Apache-2.0

CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y
CONFIG_GPIO=y
CONFIG_SPI=y
CONFIG_LED_STRIP=y
CONFIG_WS2812_STRIP_SPI=y
CONFIG_LED_RGB_COLOR=y
CONFIG_USB_DEVICE_REMOTE_WAKEUP=n

CONFIG_SLIMEVR_USB_DEVICE_MANUFACTURER="Crazt"
CONFIG_SLIMEVR_USB_DEVICE_PRODUCT="SlimeNRF Receiver SK Cheesecake RECV33"

CONFIG_MPSL=y
CONFIG_MPSL_FEM=y
CONFIG_MPSL_FEM_SIMPLE_GPIO=y
CONFIG_RADIO_TX_POWER=30

CONFIG_BUILD_OUTPUT_UF2=y
CONFIG_BUILD_OUTPUT_UF2_FAMILY_ID="0x621e937a"
